<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Adress: {{address}}</p>
    <p>Temperature: {{temperature}}</p>
    <p>Probability of Precipitation: {{precipProbability}}</p>
    <p>Precipitation Type: {{precipType}}</p>
    <p>Summary: {{summary}}</p>
    {{> footer}}
  </body>
</html>
